<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="LiteDB"/>
				<codeBase version="5.0.15" href="LiteDB.dll"/>
				<codeBase version="4.1.4" href="LiteDB.4.1.4.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>